body{
    font-family: 'Roboto', sans-serif;
}
h1, h2{
    font-family: 'Bebas Neue', cursive;
}
h1, h2, h4, h5{
    color: #363958;
}
.highlight{
    color: #FABE4C;
}
.grey-background{
    background-color: #F1F1F1;
}
p{
    color: #3E3E3E;
}
.large-product-image{
    height: 60%;
}
.single-product-area{
    height: 400px;
}
.product-card-footer{
    background-color: white;
    border: none;
}
.product-card{
    border: none;
}
.product-card, .single-product-area, .service-card{
    border-radius: 1.5em;
}
@media (max-width: 720px){
 h2{
     text-align: center;
 }
}

.service-logo{
    width: 40%;
}

.brand-logo{
    height: 30px;
}
