body{
    font-family: 'Roboto', sans-serif;
}

/* Header area Styling */
.brand-logo{
    height: 30px;
}

nav a{
    color: #363958;
    font-weight: 700;
}
.top-banner{
    padding-top: 5em;
}
h1, h2{
    font-family: 'Bebas Neue', cursive;
}
h1, h2, h4, h5{
    color: #363958;
}
.highlight{
    color: #FABE4C;
}
.grey-background{
    background-color: #F1F1F1;
}
p{
    color: #3E3E3E;
}

/* Product Area styling [woman & man] */
.large-product-image{
    height: 60%;
}
.single-product-area{
    height: 400px;
}
.product-card-footer{
    background-color: white;
    border: none;
}
.product-card{
    border: none;
}
.product-card, .single-product-area, .service-card{
    border-radius: 1.5em;
}
@media (max-width: 720px){
 h2{
     text-align: center;
 }
}

/* Service area Styling */
.service-logo{
    width: 40%;
}

/* Top Product Area styling*/
#top-product-area{
    background-color: #444b6d;
}
#top-product-area img{
    height: 20em;
    margin: auto;
}
.top-product-describtion{
    background-color: rgba(0, 128, 128, 0.212);
}


/* Category Area styling*/
.catagory-title{
    z-index: 1;
}
.new-arrivals, .tuxedo{
    background-size: cover;
    text-align: center;
    height: 15em;
    position: relative;
}
.new-arrivals{
    background-image: url("../images/products/new.jpg");
}
.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.tuxedo{
    background-image: url("../images/products/tuxedo.jpg");
}
.sweater{
    background-image: url("../images/products/00_social.jpg");
    background-size: cover;
}
.treakking-shoes{
    background-image: url("../images/products/hikingshoe.jpg");
    background-size: 100% 100%;
}
.sweater, .treakking-shoes{
    text-align: center;
    height: 10em;
    position: relative;
}
.watches, .casual-glasses, .t-shirt{
    text-align: center;
    position: relative;
}
.watches{
    background-image: url("../images/products/watch.jpg");
}
.casual-glasses{
    background: url("../images/products/glass.jpg");
    background-size: cover;
}
.t-shirt{
    background-image: url("../images/products/t-shirt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.single-category:hover{
    transform: scale(1.3);
}
.single-category{
    transition: transform 1s ease;
}
.categoriy-column{
    overflow: hidden;
}